# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

test/

# Virtual environments
.venv/
venv/

# IDEs
.vscode/
.idea/

# Environment variables
.env

# Build artifacts
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# OS files
.DS_Store
Thumbs.db

# Runtime/generated data
chroma_db/

logs/

# Jupyter
.ipynb_checkpoints/

*.txt
utils/load_sec_tickers
utils/lookup_creation
